* {
   font-family: 'Poppins', sans-serif
}


body {
  background-image: url("bnb_bg.png");
  background-size: auto;
  background-attachment: fixed;
  margin:0;
}

/* MARCUS'S MODAL CODE */
/* This @media code is for responsiveness between mobile/desktop viewing experience. Try Ctrl + Shift + I */
@media (orientation: landscape) {
   .full-img img {
     height: 80%;
     max-height: 100vh;
   }
 }
 
 @media (orientation: portrait) {
   .full-img img {
     width: 100%;
     max-width: 100vh;
   }
   .portfolio img {
     cursor: pointer;
     margin: 5px;
     max-width: 100px;
   }
 }
 
 @keyframes fadeIn {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }
 
 .full-img {
   width: 100%;
   height: 100vh;
   background: rgba(0, 0, 0, 0.7);
   position: fixed;
   top: 0;
   left: 0;
   display: none;
   align-items: center;
   justify-content: center;
   z-index: 100;
   animation: fadeIn 0.4s;
   text-align: center;
 }
 
 .full-img span {
   position: absolute;
   top: 5%;
   right: 5%;
   font-size: 30px;
   color: #fff;
   cursor: pointer;
 }
 
 .portfolio {
   text-align: center;
 }
 
 .portfolio img {
   cursor: pointer;
   margin: 5px;
 }
 
 .portfolio img:hover {
   opacity: 0.5;
 }
 /* END OF MARCUS'S MODAL CODE */
 

/* search form */ 

#quote1 {
  text-align: center;

}

.container {
  width: 700px;
  height: 230px;
  background-color: lightgrey;
  border-radius: 60px;
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}



#location {
  margin:0 auto;
  width: 18%;
  max-width: 700px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 15px;
  border: 2px solid lightgray;
  
}

#location input {
      background: transparent;
      flex: 1;
      border: 0;
      outline: none;
      font-size: 20px;
      color: black;
}

::placeholder{
  color: black;
}

#check-in {
  padding: 15px;
  border: 2px solid lightgray;
  border-radius: 60px; 
  height: 10px; 
} 

#check-out {
  padding: 15px;
  border: 2px solid lightgray;
  border-radius: 60px; 
  height: 10px; 
} 

#numberOfAdults {
  padding: 15px;
  border: 2px solid lightgray;
  border-radius: 60px; 
  height: 10px;
}

#numberOfChildren {
  padding: 15px;
  border: 2px solid lightgray;
  border-radius: 60px; 
  height: 10px;
}

#numberOfInfants {
  padding: 15px;
  border: 2px solid lightgray;
  border-radius: 60px; 
  height: 10px;
}

#submitButton input {
  margin-top:10px;
  font-size: 1.1rem;
  border: none;
  background-color: white;
  color: grey;
  padding: 10px;
  border-radius: 1.5rem;
  cursor: pointer;
  outline: 0;
}

#submitButton input:hover{
  --webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.67); 
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}